<div id="main_tab">
    <div class="form-group">
        <label for="nds">НДС, %</label>
        <input type="number" min="0" max="100" class="form-control" id="nds" @bind="nds">
    </div>
    <div class="form-group">
        <label for="orders-in-table">Количество выводимых заказов в списке</label>
        <input type="number" min="10" max="500" class="form-control" id="orders-in-table" @bind="ordersDisplayCount">
    </div>
</div>


@code {
    [Inject] public ISettingStorageReader settingsReader { get; set; }
    [Inject] public ISettingStorageWriter settingsWriter { get; set; }
    [CascadingParameter] public SettingsTabData tabData { get; set; }

    int nds;
    int ordersDisplayCount;

    protected override async Task OnInitializedAsync()
    {

        nds = await settingsReader.GetValue<int>("nds");
        ordersDisplayCount = await settingsReader.GetValue<int>("orders_display_count");

        tabData.SaveButtonClicked = new Action(async () =>
        {
            await settingsWriter.SetValue<int>("nds", nds);
            await settingsWriter.SetValue<int>("orders_display_count", ordersDisplayCount);
        });
    }
}