

<div id="marketplaces-tab">
    <div class="marketplace-tab-group">
        <h3>Wildberries</h3>
        <div class="form-group">
            <label for="wildberries_secure_token">Wildberries API Token</label>
            <input type="password" class="form-control" id="wildberries_secure_token" @bind="wildberries_secure_token">
        </div>
    </div>

    <div class="marketplace-tab-group">
        <h3>ВсеИнструменты</h3>
        <div class="form-group">
            <label for="gln">GLN поставщика</label>
            <input type="text" class="form-control" id="gln" @bind="vse_instrumenty_gln">
        </div>
    </div>

</div>

@code {

    [Inject] public ISettingStorageReader settingsReader { get; set; }
    [Inject] public ISettingStorageWriter settingsWriter { get; set; }
    [CascadingParameter] public SettingsTabData tabData { get; set; }

    string vse_instrumenty_gln = string.Empty;
    string wildberries_secure_token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        vse_instrumenty_gln = await settingsReader.GetValue<string>("vse_instrumenti_gln");
        wildberries_secure_token = await settingsReader.GetValue<string>("wildberries_api_token");

        tabData.SaveButtonClicked = new Action(async () =>
        {
            await settingsWriter.SetValue("vse_instrumenti_gln", vse_instrumenty_gln);
            await settingsWriter.SetValue("wildberries_api_token", wildberries_secure_token);
        });
    }
}