<div class="spinner-border @(IsSmall ? "spinner-border-sm" : string.Empty)" role="status">
    <span class="sr-only">@Text</span>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Загрузка";

    [Parameter]
    public bool IsSmall { get; set; } = false;
}
