@inject IProductStorage productStorage
        <input type="text" class="form-control"
               list="product_list"
               placeholder="Поиск товара ..."
               autoComplete="on"
               style="min-width: 150px;"
               value="@searchText"
               @onkeypress="ProductsSourceChanged"
               @oninput="SelectedProductChanged"
               id="dropdown-product" />
        <datalist id="product_list">
            @foreach (var product in productsSource)
            {
                <option value="@product.name"
                        selected="@(selectedProduct != null && product.product_id == selectedProduct.product_id)">
                    @product.manufacturer
                </option>
            }
        </datalist>

    @code {
            List<ProductEntity> productsSource = null;
            ProductEntity selectedProduct = null;
            string searchText = string.Empty;

            [Parameter] public EventCallback<ProductEntity> ProductChanged { get; set; }

            [Parameter]
            public ProductEntity Product
        {
                get => selectedProduct;
                set
            {
                    selectedProduct = value;

                }
            }

        protected override void OnInitialized()
        {
            productsSource = new List<ProductEntity>();
        }

        protected override async Task OnParametersSetAsync()
        {
            if (!string.IsNullOrWhiteSpace(selectedProduct?.name))
            {
                searchText = selectedProduct?.name;
            }
            if (searchText.Length >= 3)
            {
                var data = await productStorage.SearchProductsByName(searchText);
                productsSource.AddRange(data.OrderBy(p => p.name));
            }
        }

        private async Task ProductsSourceChanged(KeyboardEventArgs e)
        {
            if (e.Key != "Enter" || searchText.Length < 3) { return; }

            productsSource.Clear();

            var data = await productStorage.SearchProductsByName(searchText);
            productsSource.AddRange(data.OrderBy(p => p.name));
        }

        private async Task SelectedProductChanged(ChangeEventArgs e)
        {
            searchText = e.Value?.ToString() ?? string.Empty;
            selectedProduct = productsSource.FirstOrDefault(p => p.name.Equals(searchText));
            await ProductChanged.InvokeAsync(selectedProduct ?? new ProductEntity());
        }
    }
