@using System.Text

<div class="progress">
    <div class="progress-bar bg-info @cssStyle" role="progressbar" style="width: @(CurrentProgress)%;" aria-valuenow="@CurrentProgress" aria-valuemin="0" aria-valuemax="100">
        @if (LabelText == null)
        {
            @($"{CurrentProgress}%")
        }
        else
        {
            @LabelText
        }
    </div>
</div>

@code {
    [Parameter] public int CurrentProgress { get; set; }
    [Parameter] public bool IsAnimated { get; set; } = false;
    [Parameter] public bool IsStripped { get; set; } = false;
    [Parameter] public RenderFragment LabelText { get; set; }

    string cssStyle
    {
        get
        {
            var sb = new StringBuilder();

            if (IsAnimated)
            {
                sb.Append("progress-bar-animated ");
            }
            if (IsStripped)
            {
                sb.Append("progress-bar-striped ");
            }


            return sb.ToString().Trim();
        }
    }
}
