@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a>@context.User.Identity.Name (<span style="color: gray;">@context.User.Claims.First(c => c.Type == System.Security.Claims.ClaimTypes.Role).Value</span>)</a>
            </Authorized>
            <NotAuthorized>
                <a href="/Login">Войти</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>