@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <p><strong>@context.User.Identity.Name</strong>&nbsp;&nbsp;<a href="/Login" @onclick="LogOut">Выйти</a></p>
            </Authorized>
            <NotAuthorized>
                <a href="/Login">Войти</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    public void LogOut()
    {
        ((MyCustomAuthProvider)AuthenticationStateProvider).LogOutUser();
    }
}