<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p>
        <span class="oi oi-euro currency-top">&nbsp;&nbsp;@euro.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</span>
        &nbsp;&nbsp;
        <span class="oi oi-dollar currency-top">&nbsp;&nbsp;@usd.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</span>
    </p>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manufacturers">
                <span class="oi oi-layers" aria-hidden="true"></span> Производители
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="load-price-list">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Прайс-листы
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="update-products">
                        <span class="oi oi-box" aria-hidden="true"></span> Цены и остатки
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="prikat">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> ВсеИнструменты
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="orders">
                        <span class="oi oi-task" aria-hidden="true"></span> Заказы
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    decimal euro, usd;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        //euro = await currencyChecker.GetCurrencyRate(BL.Data.CurrencyType.EUR);
        //usd = await currencyChecker.GetCurrencyRate(BL.Data.CurrencyType.USD);
    }
}
