@inject ICurrencyChecker currencyService
@attribute [Authorize]

<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p>
        <span class="oi oi-euro currency-top">&nbsp;&nbsp;@euro.Value.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</span>
        &nbsp; &nbsp;
        <span class="oi oi-dollar currency-top">&nbsp;&nbsp;@usd.Value.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</span>
    </p>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manufacturers">
                <span class="oi oi-layers" aria-hidden="true"></span> Производители
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="oi oi-task" aria-hidden="true"></span> Заказы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="load-price-list">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Прайс-листы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="update-products">
                <span class="oi oi-box" aria-hidden="true"></span> Цены и остатки
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="prikat">
                <img src="image/logotips/vi-logo.jpg" class="nav-menu-image" /> ВсеИнструменты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ozon">
                <img src="image/logotips/ozon-logo.png" class="nav-menu-image" /> Ozon
            </NavLink>
        </li>
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="log">
                            <span class="oi oi-book" aria-hidden="true"></span> Журнал
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    decimal? euro = 0, usd = 0;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        //euro = await currencyService.GetCurrencyRate(BL.Data.CurrencyType.EUR);
        //usd = await currencyService.GetCurrencyRate(BL.Data.CurrencyType.USD);
    }
}
