@inject ICurrencyChecker currencyService
@attribute [Authorize]

<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p>
        <span class="oi oi-euro currency-top">&nbsp;&nbsp;@eur</span>
        &nbsp; &nbsp;
        <span class="oi oi-dollar currency-top">&nbsp;&nbsp;@usd</span>
    </p>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="load-price-list">
                <span class="oi oi-spreadsheet" style="width: 100%;" aria-hidden="true"><span style="margin-left: 15px;">Прайс-листы</span></span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="update-products" style="line-height: 1rem;">
                <span class="oi oi-box" style="width: 100%;" aria-hidden="true"><span style="margin-left: 15px;">Обновление сайта</span></span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="prikat">
                <img src="image/logotips/vi-logo.jpg" class="nav-menu-image" /> ВсеИнструменты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ozon">
                <img src="image/logotips/ozon-logo.png" class="nav-menu-image" /> Озон
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="edit-product">
                <span class="oi oi-box" aria-hidden="true"></span> Правка товара
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manufacturers">
                <span class="oi oi-layers" aria-hidden="true"></span> Сроки поставки
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="oi oi-task" aria-hidden="true"></span> Заказы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cron-task">
                <span class="oi oi-timer" aria-hidden="true"></span> Задачи               
            </NavLink>
        </li>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="accounts">
                        <span class="oi oi-person" aria-hidden="true"></span> Пользователи
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="monobrands">
                        <span class="oi oi-globe" aria-hidden="true"></span> Монобренды
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="log">
                        <span class="oi oi-book" aria-hidden="true"></span> Журнал
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    string usd;
    string eur;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        eur = (await currencyService.GetCurrencyRate(CurrencyType.EUR)).ToString("F2", System.Globalization.CultureInfo.InvariantCulture);
        usd = (await currencyService.GetCurrencyRate(CurrencyType.USD)).ToString("F2", System.Globalization.CultureInfo.InvariantCulture);
    }

}
