@page "/tasks"
@inject ISettingStorage settings
@inject TaskScheduleManager taskManager

<h3>Переодические задачи</h3>
<ul class="pereodic-task-list">
    <PereodicTaskItem Title="Symmetron" SettingsPageUri="/symmetron-task-settings"/>
    <PereodicTaskItem Title="Silver" />
    <PereodicTaskItem Title="1C" />
    <PereodicTaskItem Title="Prist" />
</ul>

<style>
    .pereodic-task-list {
        list-style-type: none;
    }

        .pereodic-task-list li {
            font-size: 18px;
            font-family: Tahoma;
            color: olive;
            line-height: 32px;
            margin: 6px 12px 6px 2px;
            border-bottom: 1px solid #92588938;
        }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

}
