@inject ISettingStorage settings

@if (selectedTab == tabData)
{
<div id="main_tab">
    <h3>YandexMarket FBS</h3>
    <div class="form-group">
        <label for="yandex_fbs_min_export_price">Минимальная цена выгрузки</label>
        <input type="number" min="0" class="form-control" id="yandex_fbs_min_export_price" @bind="yandex_fbs_minimumPrice">
    </div>
    <div class="form-group">
        <label for="yandex_fbs_under_min_price_ratio">Множитель для товаров с ценой меньше минимальной (1 = без множителя)</label>
        <input type="number" min="1" class="form-control" id="yandex_fbs_under_min_price_ratio" @bind="yandex_fbs_underRatio">
    </div>

    <h3>Seller Ozon</h3>
        <div class="form-group">
        <label for="ozon_seller_min_export_price">Минимальная цена выгрузки</label>
        <input type="number" min="0" class="form-control" id="ozon_seller_min_export_price" @bind="ozon_seller_minimumPrice">
    </div>
</div>
}

@code {

    [CascadingParameter] public SettingsTabData selectedTab { get; set; }
    [Parameter] public SettingsTabData tabData { get; set; }
    
    decimal ozon_seller_minimumPrice;
    decimal yandex_fbs_minimumPrice;
    decimal yandex_fbs_underRatio;

    protected override async Task OnInitializedAsync()
    {
        ozon_seller_minimumPrice = await settings.GetValue<decimal>("ozon_seller_export_minimum_price");
        yandex_fbs_minimumPrice = await settings.GetValue<decimal>("yandex_fbs_export_minimum_price");
        yandex_fbs_underRatio = await settings.GetValue<decimal>("yandex_fbs_export_under_minimum_ratio");
        

        tabData.SaveButtonClicked = new Action(async() =>
        {
            await settings.SetValue("ozon_seller_export_minimum_price", ozon_seller_minimumPrice);
            await settings.SetValue("yandex_fbs_export_minimum_price", yandex_fbs_minimumPrice);
            await settings.SetValue("yandex_fbs_export_under_minimum_ratio", yandex_fbs_underRatio);
        });
    }
}