@inject ISettingStorage settings

@if (selectedTab == tabData)
{
<div id="main_tab">
    <div class="form-group">
        <label for="gln">GLN поставщика</label>
        <input type="text" class="form-control" id="gln" @bind="gln">
    </div>
</div>
}

@code {

    [Parameter] public SettingsTabData tabData { get; set; }
    [CascadingParameter] public SettingsTabData selectedTab { get; set; }

    string gln;

    protected override async Task OnInitializedAsync()
    {
        gln = await settings.GetValue("vse_instrumenti_gln");

        tabData.SaveButtonClicked = new Action(async() =>
        {
            await settings.SetValue("vse_instrumenti_gln", gln);
        });
    }
}