<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" 
                                DefaultLayout="@typeof(EtkBlazorApp.Shared.MainLayout)" >
                <NotAuthorized>
                    <h3>Недостаточно прав</h3>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
          <NotFoundPage />
        </NotFound>
    </Router>
</CascadingAuthenticationState>