@using System.ComponentModel;

<div class="ozon-manufacturer-discount-item">
    <input type="checkbox"
           min="-99" max="999"
           style="display: inline-block; transform: scale(1.5); margin: 4px 10px;"
           @onchange="(e => { Item.IsChecked = (bool)e.Value; OnItemChanged(); })"
           checked="@Item.IsChecked" />
    <p style="display: inline-block; font-size: 20px; color: white; width: 100%;">
        @Item.Manufacturer
    </p>
    <input type="number"
           class="form-control"
           style="display: inline-block; width: auto; margin: 4px 10px;"
           @onchange="(e => { Item.Discount = decimal.Parse(e.Value.ToString()); OnItemChanged(); })"
           value="@Item.Discount" />
</div>

@code {

    [Parameter]
    public OzonManufacturerDiscountViewModel Item { get; set; }

    [Parameter]
    public EventCallback ItemChanged { get; set; }

    private void OnItemChanged()
    {
        ItemChanged.InvokeAsync();
    }

}
