@page "/ozon"
@attribute [Authorize(Roles = "Administrator, Manager")]
@inject IToastService toastService
@inject IManufacturerStorage manufacturerStorage
@inject ISettingStorage settings

@if (manufacturerDiscounts == null)
{
    <LoadingSpinner />
}
else
{
    <h3>Ozon Seller</h3>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <button type="button" class="btn btn-primary" style="width: 100%;">Обновить остатки</button>
                </div>
                <div class="col-md-6 col-sm-6">
                    <button type="button" class="btn btn-primary" style="width: 100%;">Обновить цены</button>
                </div>
            </div>
            <div class="row">
                <div class="ozon-manufacturer-discount-list col-sm-12">
                    @foreach (var item in manufacturerDiscounts)
                    {
                        @if (!hasSeparator && !item.IsChecked)
                        {
                            <hr class="discount-list-separator" />
                            hasSeparator = true;
                        }
                        <OzonManufacturerDiscountItem Item="item" ItemChanged="DiscountChanged" />
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {

    // ozon manager есть в etk-komplekt windows приложении
    [Inject] OzonSellerApi ozonApi { get; set; }
    [Inject] DatabaseManager databaseManager { get; set; }

    private bool hasSeparator = false;
    private bool needReloadSavedData = false;

    private List<OzonManufacturerDiscountViewModel> manufacturerDiscounts = null;

    private async Task DiscountChanged()
    {
        toastService.ShowSuccess("Скидка изменена");

        var data = string.Join(";", manufacturerDiscounts.Where(m => m.IsChecked == true).Select(m => $"{m.Id}={m.Discount}"));
        needReloadSavedData = true;

        await settings.SetOzonDiscounts(data);

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        hasSeparator = false;

        if (firstRender || needReloadSavedData)
        {
            needReloadSavedData = false;

            var manufacturers = await manufacturerStorage.GetManufacturers();
            var discountData = (await settings.GetOzonDiscounts())
                .Split(';')
                .Select(data => data.Split('='))
                .Select(array => new { manufacturer_id = int.Parse(array[0]), discount = int.Parse(array[1]) })
                .ToDictionary(i => i.manufacturer_id, i => i.discount);

            manufacturerDiscounts = manufacturers
                .Select(manufacturer => new OzonManufacturerDiscountViewModel(manufacturer.name)
                {
                    Id = manufacturer.manufacturer_id,
                    Discount = discountData.ContainsKey(manufacturer.manufacturer_id) ? discountData[manufacturer.manufacturer_id] : 0,
                    IsChecked = discountData.ContainsKey(manufacturer.manufacturer_id) ? true : false,
                })
                .OrderByDescending(item => item.IsChecked)
                .ToList();

            StateHasChanged();
        }
    }
}
