@page "/ozon"
@attribute [Authorize(Roles = "Administrator, Manager")]
@inject IToastService toastService
@inject IManufacturerStorage manufacturerStorage
@inject ISettingStorage settings

@if (manufacturerDiscounts == null)
{
    <LoadingSpinner />
}
else
{
    <h3>Ozon Seller</h3>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <button type="button" class="btn btn-primary" style="width: 100%;" disabled="@updateButtonDisabled">Обновить остатки</button>
                </div>
                <div class="col-md-6 col-sm-6">
                    <button type="button" class="btn btn-primary" style="width: 100%;" disabled="@updateButtonDisabled">Обновить цены</button>
                </div>
            </div>
            <div class="row">
                <div class="ozon-manufacturer-discount-list col-sm-12">
                    <div class="row">
                        <div class="col-md-9">Производитель</div>
                        <div class="col-md-3">Наценка от сайта</div>
                    </div>
                    @foreach (var item in manufacturerDiscounts)
                    {
                        @if (!hasSeparator && !item.IsChecked)
                        {
                            <hr class="discount-list-separator" />
                            hasSeparator = true;
                        }
                        <OzonManufacturerDiscountItem Item="item" ItemChanged="DiscountChanged" />
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {

    // ozon manager есть в etk-komplekt windows приложении
    [Inject] OzonSellerApi ozonApi { get; set; }
    [Inject] DatabaseManager databaseManager { get; set; }

    bool hasSeparator = false;
    bool needReloadSavedData = false;
    bool updateButtonDisabled => manufacturerDiscounts.All(m => m.IsChecked == false);

    private List<OzonManufacturerDiscountViewModel> manufacturerDiscounts = null;

    private async Task DiscountChanged()
    {
        var checkedData = string.Join(";", manufacturerDiscounts.Where(m => m.IsChecked).Select(m => m.Id).OrderBy(id => id));
        await settings.SetValue("ozon_checked_manufacturers", checkedData);

        var discountData = string.Join(";", manufacturerDiscounts.Select(m => $"{m.Id}={m.Discount}"));
        await settings.SetValue("ozon_manufacturer_discounts", discountData);

        needReloadSavedData = true;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        hasSeparator = false;

        if (firstRender || needReloadSavedData)
        {
            needReloadSavedData = false;

            var manufacturers = await manufacturerStorage.GetManufacturers();
            var discountData = (await settings.GetValue("ozon_manufacturer_discounts")).Split(';')
                .Select(data => data.Split('='))
                .Select(array => new { manufacturer_id = int.Parse(array[0]), discount = int.Parse(array[1]) })
                .ToDictionary(i => i.manufacturer_id, i => i.discount);

            var checkedManufacturers = (await settings.GetValue("ozon_checked_manufacturers")).Split(';').Select(i => int.Parse(i)).ToList();

            manufacturerDiscounts = manufacturers
                .Select(manufacturer => new OzonManufacturerDiscountViewModel(manufacturer.name)
                {
                    Id = manufacturer.manufacturer_id,
                    Discount = discountData.ContainsKey(manufacturer.manufacturer_id) ? discountData[manufacturer.manufacturer_id] : 0,
                    IsChecked = checkedManufacturers.Contains(manufacturer.manufacturer_id)
                })
                .OrderByDescending(item => item.IsChecked)
                .ToList();

            StateHasChanged();
        }
    }
}
