@page "/orders"
@using EtkBlazorApp.Components.Controls.Orders
@attribute [Authorize(Roles = "Administrator, Manager")]

<h3>Заказы</h3>

<div class="orders-filter-row">
    <div class="form-inline">
        <label for="order-number">Номер заказа</label>
        <input class="form-control mx-3 my-1" type="text" id="order-number" @bind="numberFilter" />
    </div>
    <div class="form-inline">
        <label for="order-customer">Заказчик</label>
        <input class="form-control mx-3 my-1" type="text" id="order-customer" @bind="cutomerFilter">
    </div>
    <div class="form-inline">
        <label for="order-city">Город</label>
        <input class="form-control mx-3 my-1" type="text" id="order-city" @bind="cityFilter">
    </div>
    <button class="btn btn-primary py-2 px-2 mx-2 my-2" @onclick="@(() => LoadOrders())">Найти</button>
</div>
<div class="row">
    <table class="table table-hover orders-table" style="width: 100%">
        <thead class="thead-etk">
            <tr>
                <th width="1%">№ заказа</th>
                <th>Создан</th>
                <th>Заказчик</th>
                <th>Город</th>
                <th>Сумма</th>
                <th width="1%">ТК</th>
                <th>Статус</th>
                <th width="1%"></th>
            </tr>
        </thead>
        <tbody>
            @if (orders is not null)
            {
                @foreach (var order in orders)
                {
                    <OrderInfoRowItem OrderData="@order" />
                }
            }
            else
            {
                <tr>
                    <td colspan="8">Загрузка ...</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Inject] public IOrderStorage OrdersStorage { get; set; }
    [Inject] public ISettingStorage SettingsStorage { get; set; }
    [Inject] public IMapper Mapper { get; set; }

    List<Order> orders = null;

    string numberFilter = null;
    string cityFilter = null;
    string cutomerFilter = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadOrders();
        }
    }

    private async Task LoadOrders()
    {
        orders = null;
        StateHasChanged();

        await Task.Delay(TimeSpan.FromMilliseconds(500));

        int takeCount = await SettingsStorage.GetValue<int>("orders_display_count");
        var ordersData = await OrdersStorage.GetLastOrders(takeCount, numberFilter, cityFilter, cutomerFilter);
        orders = Mapper.Map<List<Order>>(ordersData);

        StateHasChanged();
    }
}
